@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
* {
  font-family: "EB Garamond", serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  min-height: 100vh;
  /* Nav bar */
  /* Footer */
}
body nav {
  display: grid;
  background-color: #000;
  height: 110px;
  width: 100%;
  text-align: center;
}
body .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding: 10px;
}
body .logo {
  width: 90px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  transition: 0.3s;
}
body .logo:hover {
  width: 110px;
}
body .nav-links {
  display: flex;
  gap: 10px;
}
body .nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
body .enlace {
  position: absolute;
  padding: 20px 50px;
}
body nav ul {
  float: right;
  margin-right: 20px;
}
body nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
body nav ul li a {
  color: #950101;
  font-size: 28px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
body nav ul li a.active {
  font-size: 23px;
  background: #000;
  transition: 0.5s;
}
body nav ul li a.active:hover {
  font-size: 25px;
}
body .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}
body #check {
  display: none;
}
@media (max-width: 952px) {
  body .enlace {
    padding-left: 20px;
  }
  body nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  body .checkbtn {
    display: block;
  }
  body ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3D0000;
    top: 110px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  body nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
body nav ul li a {
  font-size: 20px;
  transition: 0.5s;
}
body li a:hover, body li a.active {
  background: none;
  color: #950101;
  font-size: 22px;
}
body #check:checked ~ ul {
  left: 0;
}
body main {
  flex: 1;
}
body main .content-grid {
  display: grid;
  margin-top: 30px;
  gap: 200px;
  max-width: 800px;
  margin-left: 0;
  margin-right: 25px;
}
body main .content-grid .text-section {
  text-align: left;
  margin-left: 10px;
  height: -moz-max-content;
  height: max-content;
  width: 99vw;
  margin-right: 20px;
}
body main .content-grid .text-section img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: 5px solid #950101;
  border-radius: 3px;
  max-width: 400px;
  height: 300px;
  margin-top: 10px;
}
body main .content-grid .text-section h2 {
  text-align: center;
  font-size: 38px;
  color: #fff;
}
body main .content-grid .text-section h3 {
  text-align: center;
  font-size: 25px;
  color: #fff;
}
body main .content-grid .text-section p {
  padding: 10px;
  max-height: auto;
  font-size: 20px;
  color: #fff;
}
body main .content-grid .image-section {
  display: flex;
  width: 90%;
  gap: 10px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 60px;
}
body main .content-grid .image-section img {
  border: 5px solid #950101;
  border-radius: 3px;
  width: 100%;
  height: auto;
}
body main .content-grid .tabla {
  margin: auto;
  width: 90vw;
}
body main .content-grid .card-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 0%;
}
body main .content-grid .card-container .card {
  align-items: center;
}
body main .botones {
  margin: auto;
}
body main .botones .btn {
  background-color: #950101;
  color: #fff;
}
body main .botones .btn:hover {
  background-color: #3D0000;
}
body footer {
  background-color: #000;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}
body footer a {
  background-color: #950101;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}
body footer a:hover {
  background-color: #3D0000;
}/*# sourceMappingURL=style.css.map */